*{
  background-color: #e0e0e0;
}
body {
  box-sizing: border-box;
  
}

.quoteContainer {
  max-width: 80%;
  max-height: 80%;
  width: 60em;
  height: 90vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em auto;
  min-height: 200px;
  padding-top: 1.5em;
}

#quote {
  font-size: 8vmin;
  font-weight: 400;
}
#author{
  font-size: 5vmin;
}
.buttons{
  align-self: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 30em;
}


#button{
color:black;
letter-spacing: .2em;
font-weight: bold;
font-size: 2em;
width: 40vmin;
height:8vmin;
min-width: 10em;
min-height: 2em;
}
