*{
  background-color: #e0e0e0;
}
body {
  box-sizing: border-box;
  height: 100vh;
}

.quoteContainer {
  max-width: 80%;
  height: 90vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 200px;
}

#quote {
  font-size: 8vmin;
  font-weight: 400;
}
#author{
  font-size: 5vmin;
}

#newQuote {
color:black;
letter-spacing: 1vmin;
font-weight: bold;
width: 30vmin;
height:6vmin;
min-width: 14em;
min-height: 4em;
align-self: center;
}
